html,
body {
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  height: 100vh;
  background: rgb(13, 12, 26);
}
* {
  outline: 0;
  text-decoration: none;
}

header {
  width: 100%;
  height: auto;
  background: rgb(46, 43, 89);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

.addbtn {
  width: 200px;
  height: 47px;
  background: rgb(5, 80, 130);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.583);
  color: #fff;
}

input {
  width: 350px;
  padding: 16px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.583);
}
