.login_container {
  width: 100%;
  height: 100vh;
}

.log_flex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welc_login {
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.inp_areas {
  width: 40%;
  height: 100%;
  background: #1c61a0;
}
#log_title {
  color: fff;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 35px;
}

.txtinp {
  margin: auto;
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.336);
}
.txtinp i {
  color: #fff;
  font-size: 25px !important;
}
.txtinp input {
  padding: 13px;
  margin-left: 13px;
  width: 77%;
  border: none;
  background: NONE !important;
  color: #fff;
}
.passtxt input {
  margin-left: 5px !important;
}

.eye {
  background: none !important;
  border: none;
  cursor: pointer;
}
.login_btn {
  margin: auto !important;
  margin-top: 20px !important;
  display: block;
  width: 160px;
  height: 50px;
  background-color: #49a8ff;
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.tocr {
  color: #fff;
  display: table !important;
  margin: 20px auto !important;
  padding: 20px 80px 20px 80px;
  background-color: #1ccc62;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image-side img {
  width: 350px;
  height: 400px;
}
#welc_desc {
  color: rgb(9, 66, 119);
  font-weight: bold;
  font-size: 30px;
  width: 50%;
  text-align: center;
}
